includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/tomasvotruba/type-coverage/config/extension.neon
    - phpstan.baseline.neon

parameters:

  level: max

  reportUnmatchedIgnoredErrors: false
  reportWrongPhpDocTypeInVarTag: true
  treatPhpDocTypesAsCertain: false
  checkMissingCallableSignature: true

  type_coverage:
    return_type: 88
    param_type: 86
    property_type: 93
    constant: 95
    declare: 100

  paths:
    - _
    - tests

  excludePaths:
    - _/Formular/Template/*

  bootstrapFiles:
    - tests/bootstrap.php


  parallel:
    processTimeout: 30.0
