includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - phpstan.baseline.neon

parameters:

  level: 9
  phpVersion: 80000

  paths:
    - _
    - tests

  excludePaths:
    - tests/integration/*

  checkMissingIterableValueType: false
  reportUnmatchedIgnoredErrors: false
  treatPhpDocTypesAsCertain: false
  polluteScopeWithAlwaysIterableForeach: true

  parallel:
    processTimeout: 30.0
