<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
        bootstrap="tests/bootstrap.php"
        cacheResult="false"
        executionOrder="depends,defects"
        colors="true"
        failOnWarning="true"
        defaultTestSuite="unit"
        displayDetailsOnTestsThatTriggerWarnings="true"
        displayDetailsOnTestsThatTriggerErrors="true"
        displayDetailsOnTestsThatTriggerDeprecations="true"
        displayDetailsOnTestsThatTriggerNotices="true"
        displayDetailsOnIncompleteTests="true"
        displayDetailsOnSkippedTests="true"
        failOnRisky="true"
        failOnNotice="true"
        failOnIncomplete="true"
        failOnEmptyTestSuite="true"
        failOnDeprecation="true"
>
    <testsuites>
        <testsuite name="unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="integration">
            <directory>tests/Integration</directory>
        </testsuite>
    </testsuites>
</phpunit>
